/*reset css*/
*{margin: 0;
    padding: 0;
}

li{
    list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
a:link{
    text-decoration: none;
}
a:hover{
    color: rgb(25, 206, 109);
    border-bottom: 5px solid yellow;
}   
nav> ul{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
   
}
header{
    margin-left: 15%;
}
ul{
    color: green;
}
.menuderoulant{
    height: 60px;
    list-style: none;
    padding: 10px;
    margin: 40px;
}
.menuderoulant li{
    float: left;
    width: 200px;
}
.menuderoulant li a:link, .menuderoulant li a:visited{
display: block;
color: #ffffff;
background-color: #293245;
padding: 6px 9px;
border-right: 1px solid #ffffff;
text-align: center;
text-decoration: none;
}
.menuderoulant li a:hover{
    background-color: #199bd2;
}
.menuderoulant li a:active{
    background-color: #808080;
}
.menuderoulant .sous-menu{
    list-style: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
}
.menuderoulant .sous-menu li{
    float: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}
.menuderoulant .sous-menu li a:link,.menuderoulant li a:visited{
    display: block;
    color: #1d9707;
    text-decoration: none;
    background-color: #293245;
}
.menuderoulant .sous-menu li a:hover{
    background-color: #199bd2;
}
.menuderoulant li:hover .sous-menu{
    display: block;
}