* {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: green;
    --custom-font: 'Times New Roman';
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav .menu>li>a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    border-bottom: 2px solid transparent;
    padding: 8px 10px;
}

nav .menu>li>a:hover {
    color: blue;
    border-bottom: 2px solid gold;
}

.sous-menu {
    list-style: none;
    position: absolute;
    display: none;
    background-color: white;
}

.sous-menu li a {
    display: inline-block;
    padding: 5px 0px;
    text-decoration: none;
}

nav>ul li:hover .sous-menu {
    display: block;

}

